PORT=3001
DATABASE_URL=
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=
NODE_ENV=development

# Replace these with your actual values from the EmailJS dashboard
